/* margin bottom for gap */
.buyer-sidebar-menu .ant-menu-item,
.buyer-sidebar-menu .ant-menu-submenu-title {
  font-size: 15px;
  font-weight: 700;
  border-radius: 2px;
}
/* menu item bg color none */
.buyer-sidebar-menu .ant-menu .ant-menu {
  /* background: none !important; */
  background: rgb(0, 28, 59) !important;
}
/* menu item & submenu item hover color set */
.buyer-sidebar-menu .ant-menu-item:hover,
.buyer-sidebar-menu .ant-menu-submenu-title:hover {
  background: rgba(24, 144, 255, 0.15) !important;
}
/* active item bgcolor & color set */
:where(.ant-menu-dark) .ant-menu-item-selected {
  color: white !important;
  background-color: rgba(24, 143, 255, 0.288) !important;
  border-radius: 8px;
}












/* scroll line customize */
.buyer-sidebar-menu-scroll::-webkit-scrollbar {
  width: 8px;
}
.buyer-sidebar-menu-scroll::-webkit-scrollbar-track {
  background: #001529;
}
.buyer-sidebar-menu-scroll::-webkit-scrollbar-thumb {
  background-color: #1890ff;
  border-radius: 4px;
  border: 2px solid #001529;
}
.buyer-sidebar-menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #0063c0ff #001529;
}
